.structure-list {
  &.width-fixed {
    .content .row > a, .content .row > div {
      display: inline-block;
    }
    .content .row > a {
      cursor: pointer;
      &:hover .item {
        border-bottom: 5px solid #49dbdb;
      }
    }
  }
  .list {
    &.width-300 > div {
      width: 230px;
      display: inline-block;
    }
    // List
    .items {
      text-align: center;
      .image {
        display: block;
        width: 150px;
        height: 150px;
        background-color: grey;
        border-radius: 200px;
        margin: 0 auto;
      }
      .content {
        padding-top: 2px;
      }
    }
    .card, .media {
      margin: 15px;
      min-height: 100px;
      border-bottom: 5px solid rgba(255,255,255,0.0);
      background-color: rgba(255,255,255,0.5);
      box-shadow: 0px 2px 0 rgba(0, 0, 0, 0.1);
      &.card {
        display: block;
        .image {
          height: 100px;
        }
      }
      h3 {
        margin-top: 10px;
        margin-bottom: 0px;
      }
      p {
        margin-top: 7px;
      }
      &:hover {
        box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
      }
    }
    // List
    .media {
      display: flex;
      .image {
        background: #EEE;
        flex-basis: 120px;
      }
      .content {
        padding: 10px 20px 10px 20px;
      }
    }
    
  }
}