h1.dc, h2.dc, h3.dc {
  font-family: Montserrat, Arial;
}
h1.dc {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 47px;
  color: #222;
}
h2.dc  {
  font-weight: 400;
  font-size: 30px;
  color: #333;
}
h3.dc {
  font-weight: 400;
  font-size: 24px;
  color: #555;
}
.paragraph, p.dc {
  font-family: sans-serif, Arial;
  font-size: 14px;
  letter-spacing: 1px;
  color: #777;
}
.line-bottom {
  position: relative;
  display: block;
  width: 100%;
  padding-bottom: 15px;
  margin-bottom: 15px;
  &:after {
    content: '';
    right: 50%;
    bottom: 0px;
    margin-right: -50px;
    display: block;
    position: absolute;
    background-color: #b7339c;
    width: 100px;
    height: 3px;
  }
  &.left {
    &:after {
      left: 0%;
      margin-right: 0px;
    }
  }
  &.right {
    &:after {
      right: 0%;
      margin-right: 0px;
    }
  }
}
body .btn {
  background-color: #2bb;
  padding: 6px 30px;
  border-radius: 20px;
  font-size: 16px;
  height: 45px;
  &:hover {
    background-color: #3cc;
  }
  &.secondary {
    background: transparent;
    color: #2bb;
    box-shadow: none;
    border: 2px solid #2bb;
    padding: 4px 28px;
  }
}
.dc.page-one-column {
  .content-list {
    max-width: 1440px;
    margin: 0 auto;
  }
}
body strong {
  font-weight: bold;
}

body strong {
  font-weight: bold;
}
.red-message {
  background-color: rgba(150, 0, 0, 0.95);
  color: white;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: block !important;
  a, span, span.strong {
    display: inline !important;
    color: white;
    font-weight: bold;
  }
  a {
    text-decoration: underline;
  }
  span.strong {
    font-weight: bold;
    color: white;
    display: inline;
  }
}
.form-only {
  clear: both;
  padding: 50px 0;
}
.mr-20 {
  margin-right: 20px;
}