body {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1.dc {
  font-family: Dosis;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 63px;
}

h2.dc {
  font-family: Dosis;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 40px;
}
.dc.strong{
  font-weight: bold;
}