.section.header {
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
  .brand-logo {
    margin: 0;
    img {
      margin-left: 150px;
      transition: all 0.3s ease-out;
      margin-top: -35px;
      display: block;
      transform: translate(0, 13px) scale(0.6, 0.6);
      @media (max-width: 768px) {
        margin-left: 0px;
      }
      @media (max-width: 1270px) {
        margin-left: 0px;
      }
      @media (max-width: 1120px) and (min-width: 993px) {
        display: none;
      }
      // Al estar el scroll en la parte mas alta.
      body.on-top & {
        @media (min-width: 700px) {
          margin-top: 5px;
          transform: scale(1, 1);
        }
      }
    }
  }
  nav {
    height: auto;
    line-height: 22px;
    width: 100%;
    display: block;
    background-color: transparent;
    height: 115px;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    body.on-top & {
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0);
      background-color: transparent;
    }
    .sidenav-trigger {
      color: #333;
    }
    ul {
      list-style-type: none;
      padding: 0;
      margin: 12px 0 0 0;
      li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80px;
        a {
          display: table-cell;
          vertical-align: middle;
          padding: 0px 30px;
          margin: 0;
          max-width: 180px;
          text-align: center;
          font-size: 12px;
          font-weight: bold;
          line-height: 22px;
          box-sizing: border-box;
          color: #667;
          position: relative;
          letter-spacing: 1px;
          text-transform: uppercase;
          &:hover {
            background-color: transparent;
            &:after {
              content: "";
              position: absolute;
              display: block;
              border-bottom: 3px solid #64dcdb;
              
              width: 90%;
              bottom: 0px;
              left: 5%;
            }
            &:before {
              content: "";
              position: absolute;
              display: block;
            }
          }
          &.principal {
            background-color: #3cc;
            border-radius: 20px;
            max-width: 140px;
            margin-left: 20px;
            margin-right: 20px;
            color: white;
            &:hover {
              background-color: #5dd;
            }
            &:after {
              display: none;
            }
            &:before {
              display: none;
            }
          }
        }

        &:hover{
          ul{
            opacity: 1;
            top: 80px;
            display: block;
          }
        }
        ul{
          display: flex;
          flex-direction: column;
          position: absolute;
          top: -185px;
          align-items: center;
          justify-content: center;
          background: #e6e5e5;
          width: 10vw;
          margin-left: 0px;
          opacity: 0;

          li{
            width: 100%;
          }

        }
      }
    }

  }
}
